<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package
        Name="Pipelines"
        Manufacturer="YourCompany"
        Version="1.0.0.0"
        UpgradeCode="b02dceb6-9389-45a5-bba8-3af0e139bf8f"
        InstallerVersion="200">

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

        <StandardDirectory Id="ProgramFilesFolder">
            <Directory Id="INSTALLFOLDER" Name="Pipelines">
                <!-- Main Application Files -->
                <Component Id="ApplicationFiles" Guid="DEAFBEEF-DEAD-DEAD-DEAD-DEADBEEF0003">
                    <File Id="TugboatCaptainsPlayground.exe" Name="TugboatCaptainsPlayground.exe" Source="$(var.TugboatCaptainsPlayground.ProjectDir)bin\Release\net9.0-windows7.0\win-x64\publish\TugboatCaptainsPlayground.exe" KeyPath="yes" />
                    <File Id="appsettings.json" Name="appsettings.json" Source="$(var.TugboatCaptainsPlayground.ProjectDir)appsettings.json" />
                    <File Id="appsettings.Development.json" Name="appsettings.Development.json" Source="$(var.TugboatCaptainsPlayground.ProjectDir)appsettings.Development.json" />
                    <File Id="electron.manifest.json" Name="electron.manifest.json" Source="$(var.TugboatCaptainsPlayground.ProjectDir)electron.manifest.json" />
                </Component>

                <!-- WWWRoot Files -->
                <Directory Id="wwwroot" Name="wwwroot">
                    <Component Id="WwwRootFiles" Guid="DEAFBEEF-DEAD-DEAD-DEAD-DEADBEEF0004">
                        <File Id="favicon.ico" Name="favicon.ico" Source="$(var.TugboatCaptainsPlayground.ProjectDir)wwwroot\favicon.ico" />
                    </Component>

                    <!-- CSS Files -->
                    <Directory Id="css" Name="css">
                        <Component Id="CssFiles" Guid="DEAFBEEF-DEAD-DEAD-DEAD-DEADBEEF0005">
                            <File Id="app.css" Name="app.css" Source="$(var.TugboatCaptainsPlayground.ProjectDir)wwwroot\css\app.css" />
                        </Component>
                    </Directory>

                    <!-- JavaScript Files -->
                    <Directory Id="js" Name="js">
                        <Component Id="JsFiles" Guid="DEAFBEEF-DEAD-DEAD-DEAD-DEADBEEF0006">
                            <File Id="downloadHelper.js" Name="downloadHelper.js" Source="$(var.TugboatCaptainsPlayground.ProjectDir)wwwroot\js\downloadHelper.js" />
                            <File Id="keyboardShortcuts.js" Name="keyboardShortcuts.js" Source="$(var.TugboatCaptainsPlayground.ProjectDir)wwwroot\js\keyboardShortcuts.js" />
                            <File Id="themeManager.js" Name="themeManager.js" Source="$(var.TugboatCaptainsPlayground.ProjectDir)wwwroot\js\themeManager.js" />
                        </Component>
                    </Directory>

                    <!-- Bootstrap Files -->
                    <Directory Id="bootstrap" Name="bootstrap">
                        <Component Id="BootstrapFiles" Guid="DEAFBEEF-DEAD-DEAD-DEAD-DEADBEEF0007">
                            <File Id="bootstrap.min.css" Name="bootstrap.min.css" Source="$(var.TugboatCaptainsPlayground.ProjectDir)wwwroot\bootstrap\bootstrap.min.css" />
                            <File Id="bootstrap.min.css.map" Name="bootstrap.min.css.map" Source="$(var.TugboatCaptainsPlayground.ProjectDir)wwwroot\bootstrap\bootstrap.min.css.map" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </StandardDirectory>

        <Feature Id="MainFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="ApplicationFiles" />
            <ComponentRef Id="WwwRootFiles" />
            <ComponentRef Id="CssFiles" />
            <ComponentRef Id="JsFiles" />
            <ComponentRef Id="BootstrapFiles" />
        </Feature>
    </Package>
</Wix>

