@using Common.Services

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="icon" type="image/ico" href="favicon.ico" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/default.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


    <link rel="stylesheet" href="TugboatCaptainsPlayground.styles.css" />
    <link href="_content/Blazor.ContextMenu/blazorContextMenu.min.css" rel="stylesheet" />
    <link href="_content/Blazored.Typeahead/blazored-typeahead.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="css/app.css" />

    <HeadOutlet @rendermode="InteractiveServer"/>
</head>

<body>
    
    <script>process = undefined;</script>
    <script src="_framework/blazor.web.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/languages/sql.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html-ui-base.min.js"></script>
    <script src="_content/Blazor.ContextMenu/blazorContextMenu.min.js"></script>
    <script src="js/downloadHelper.js"></script>
    <script src="_content/Blazored.Typeahead/blazored-typeahead.js"></script>
    <script src="js/keyboardShortcuts.js"></script>
    <script src="js/themeManager.js"></script>

    <script>
        // Abrir links externamente
        document.body.addEventListener('click', event => {
            if (event.target.tagName.toLowerCase() === 'a' && event.target.target === '_blank') {
                event.preventDefault();
                DotNet.invokeMethodAsync('TugboatCaptainsPlayground', 'OpenExternal', event.target.href);
            }
        });
    </script>

    <Routes @rendermode="InteractiveServer"/>
</body>

</html>

@code {
    [JSInvokable]
    public static async Task OpenExternal(string url)
    {
        url = url.Replace("&", "^&");
        await Common.Utils.OpenFolderUtils.OpenUrlAsync(url);
    }
}
