@page "/consul"
@using Common.Models
@inject ISignalRClientService SignalRClientService
@using Common
@using Common.Services
@using Markdig
@using Microsoft.AspNetCore.Components.Forms
@using System.Text.RegularExpressions
@using System.Reactive.Subjects
@using System.Reactive.Linq
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inject IToastService toastService
@rendermode InteractiveServer
@inject IJSRuntime JS
@inject IConsulService ConsulService
@inject ICommitDataExportService CommitDataExportService


<h3>Consul</h3>

<div class="form-check">
    <input class="form-check-input" type="checkbox" id="recursiveToggle" @bind="isRecursive" />
    <label class="form-check-label" for="recursiveToggle">
        Enable Recursive Values
    </label>
</div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" id="showInvalidOnlyToggle" @bind="showInvalidOnly" />
    <label class="form-check-label" for="showInvalidOnlyToggle">
        Show Only Invalid Values
    </label>
</div>

<button class="btn btn-primary text-nowrap" @onclick="async () => await DownloadConsul()">Download Consul</button>
<button class="btn btn-success text-nowrap" @onclick="async () => await SaveConsul()">Save Consul</button>

<div class="mb-3">
    <input type="text" class="form-control" placeholder="Search keys..." @bind="searchTerm" />

    <ul>
        @foreach (var kvp in filteredConsulKeyValues)
        {
            <li>
                <span>@(kvp.Value.IsValidJson ? "✔️" : "❌")</span>
                <button class="btn" @onclick="() => ToggleKeyVisibility(kvp.Key)">
                    @kvp.Key
                </button>
                <button class="btn btn-link" @onclick="() => OpenConsulUrl(kvp.Value.Url)">
                    Open in Consul
                </button>
                @if (visibleKeys.Contains(kvp.Key))
                {
                    @if (isRecursive)
                    {
                        <textarea class="form-control" readonly style="width: 100%; height: 200px; white-space: nowrap; overflow-x: auto;">@kvp.Value.ValueRecursive</textarea>
                    }
                    else
                    {
                        <textarea class="form-control" style="width: 100%; height: 200px; white-space: nowrap; overflow-x: auto;">@kvp.Value.Value</textarea>
                    }
                }
            </li>
        }
    </ul>
</div>

@code {

    private Dictionary<string, ConsulKeyValue> consulKeyValues = new Dictionary<string, ConsulKeyValue>();
    private List<string> visibleKeys = new List<string>();
    private string searchTerm = string.Empty;

    private bool isRecursive = false;
    private bool showInvalidOnly = false;

    private IEnumerable<KeyValuePair<string, ConsulKeyValue>> filteredConsulKeyValues =>
        consulKeyValues.Where(kvp => kvp.Key.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)
            && (!showInvalidOnly || !kvp.Value.IsValidJson));

    private async ValueTask DownloadConsul()
    {
        consulKeyValues = await ConsulService.GetConsulKeyValues();
        toastService.ShowSuccess("Consul key-values downloaded successfully!");
    }

    private void ToggleKeyVisibility(string key)
    {
        if (visibleKeys.Contains(key))
        {
            visibleKeys.Remove(key);
        }
        else
        {
            visibleKeys.Add(key);
        }
    }


    private async Task SaveConsul()
    {
        // Logic to save the edited Consul content
        // This is a placeholder for the actual implementation
        toastService.ShowSuccess("Consul content saved successfully!");
    }
    private void OpenConsulUrl(string url)
    {
        JS.InvokeVoidAsync("open", url, "_blank");
    }
}
