@page "/logdetails/{BuildId}"
@using Markdig
@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop
@using System.Text.RegularExpressions
@using Common
@inject BuildInfoBlazorApp.Data.IBuildInfoService BuildInfoService
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<script>
    function scrollToLastError() {
        console.log("Scrolling to the last error");
        const errorElements = document.querySelectorAll('.log-error');
        if (errorElements.length > 0) {
            const lastErrorElement = errorElements[errorElements.length - 1];
            lastErrorElement.scrollIntoView({ behavior: 'smooth', block: 'center' });
        }
    }
</script>

<h3>Build Logs</h3>

@if (errorLogs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <pre>@((MarkupString)errorLogs.ToHtml())</pre>
}

@code {
    [Parameter]
    public string BuildId { get; set; }

    private string errorLogs;

    protected override async Task OnInitializedAsync()
    {
        if (int.TryParse(BuildId, out int buildIdint))
        {
            errorLogs = await BuildInfoService.GetBuildErrorLogsAsync(buildIdint);
        }
        else
        {
            errorLogs = "Invalid build ID.";
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        await JSRuntime.InvokeVoidAsync("scrollToLastError");

    }
}
