@page "/oracle-diff"
@inject SignalRClientService SignalRClientService
@using Common
@using Markdig
@using Microsoft.AspNetCore.Components.Forms
@using System.Text.RegularExpressions
@using System.Reactive.Subjects
@using System.Reactive.Linq
@inject OracleDiffService OracleDiffService
@inject OracleSchemaService OracleSchemaService
@inject IToastService toastService
@rendermode InteractiveServer
@inject IJSRuntime JS

<AnchorNavigation></AnchorNavigation>

<script>
 

    window.initializeDiff2Html = function (diffString) {

        var targetElement = document.getElementById('myDiffElement');
        var configuration = {
            drawFileList: true,
            fileListToggle: false,
            fileListStartVisible: false,
            fileContentToggle: false,
            matching: 'lines',
            outputFormat: 'side-by-side',
            synchronisedScroll: true,
            highlight: true,
            renderNothingWhenEmpty: true,
            rawTemplates: {
                "file-summary-line": `<li class="d2h-file-list-line">
        <span class="d2h-file-name-wrapper">
          {{>fileIcon}}
              <a href="oracle-diff#{{fileHtmlId}}" class="d2h-file-name">{{fileName}}</a>
          <span class="d2h-file-stats">
              <span class="d2h-lines-added">{{addedLines}}</span>
              <span class="d2h-lines-deleted">{{deletedLines}}</span>
          </span>
        </span>
    </li>`
    }
        };
        var diff2htmlUi = new Diff2HtmlUI(targetElement, diffString, configuration);
        diff2htmlUi.draw();
        diff2htmlUi.highlightCode();
    };
</script>

@* target="_top" *@

<h3>Build Information</h3>

<div id="myDiffElement" style="max-width:80VW;"></div>



@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var dict = OracleSchemaService.Compare();

            //var diff = OracleDiffService.GetDiffString();
            // Call JavaScript function to initialize diff2htmlUi after the page is rendered

            var diff = String.Join("\r\n", dict.Values);

            await JS.InvokeVoidAsync("initializeDiff2Html", diff);
        }
    }
}
