@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
@using Common.Services
@using Front2.Components
@inject IThemeService ThemeService
@inject IJSRuntime JSRuntime
@implements IDisposable

<BlazoredToasts Position="ToastPosition.BottomRight" Timeout="5" ShowProgressBar="true" MaxToastCount="3" />

<div class="page @(ThemeService.IsDarkMode ? "dark-theme" : "light-theme")">
  
    <div class="sidebar">
        <NavMenu />
        <div class="sidebar-footer">
            <ThemeToggle />
        </div>
    </div> 

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        ThemeService.ThemeChanged += OnThemeChanged;
        await UpdateThemeAttribute();
    }

    private async void OnThemeChanged(object sender, EventArgs e)
    {
        await UpdateThemeAttribute();
        await InvokeAsync(StateHasChanged);
    }

    private async Task UpdateThemeAttribute()
    {
        await JSRuntime.InvokeVoidAsync("eval", $"document.body.setAttribute('data-theme', '{(ThemeService.IsDarkMode ? "dark" : "light")}')");
    }

    public void Dispose()
    {
        ThemeService.ThemeChanged -= OnThemeChanged;
    }
}

