@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
@using Front2.Components
@inject IThemeService ThemeService
@implements IDisposable

<BlazoredToasts Position="ToastPosition.BottomRight" Timeout="5" ShowProgressBar="true" MaxToastCount="3" />

<div class="page" data-theme="@(ThemeService.IsDarkMode ? "dark" : "light")">
  
    <div class="sidebar">
        <NavMenu />
        <ThemeToggle />
    </div> 

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    protected override void OnInitialized()
    {
        ThemeService.ThemeChanged += OnThemeChanged;
    }

    private void OnThemeChanged(object sender, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        ThemeService.ThemeChanged -= OnThemeChanged;
    }
}

