<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid d-flex justify-content-center">
        <a class="navbar-brand" href="">
            <img src="favicon.ico" alt="App Icon" style="height: 30px;">
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">

            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-code-slash" aria-hidden="true"></span> Apps
            </NavLink>

            <NavLink class="nav-link" href="/commits">
                <span class="bi bi-calendar-week" aria-hidden="true"></span> Commits
            </NavLink>

            <NavLink class="nav-link" href="/consul">
                <span class="bi bi-diagram-3-fill" aria-hidden="true"></span> Consul
            </NavLink>

            <NavLink class="nav-link" href="/oracle-diff">
                <span class="bi bi-database-fill" aria-hidden="true"></span> Oracle Diff
            </NavLink>

            <NavLink class="nav-link" href="/oracle-config">
                <span class="bi bi-gear-fill" aria-hidden="true"></span> Oracle Config
            </NavLink>

            <NavLink class="nav-link" href="/config-manager">
                <span class="bi bi-card-list" aria-hidden="true"></span> Config Manager
            </NavLink>

            <a class="nav-link" href="https://github.com/Beltzac/Pipelines" target="_blank">
                <span class="bi bi-github" aria-hidden="true"></span> GitHub
            </a>

            <AutoUpdateComponent />

        </div>
    </nav>
</div>

